<div class="flexrow">
    <div class="flexcol common-skill-column">
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.awe
                skillBonus=model.bonuses.commonSkills.awe
                reference="system.commonSkills.awe.value"
                checkbox-reference="system.commonSkills.awe.favoured.value"
                key="awe"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.athletics
                skillBonus=model.bonuses.commonSkills.athletics
                reference="system.commonSkills.athletics.value"
                checkbox-reference="system.commonSkills.athletics.favoured.value"
                key="athletics"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.awareness
                skillBonus=model.bonuses.commonSkills.awareness
                reference="system.commonSkills.awareness.value"
                checkbox-reference="system.commonSkills.awareness.favoured.value"
                key="awareness"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.hunting
                skillBonus=model.bonuses.commonSkills.hunting
                reference="system.commonSkills.hunting.value"
                checkbox-reference="system.commonSkills.hunting.favoured.value"
                key="hunting"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.song
                skillBonus=model.bonuses.commonSkills.song
                reference="system.commonSkills.song.value"
                checkbox-reference="system.commonSkills.song.favoured.value"
                key="song"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.craft
                skillBonus=model.bonuses.commonSkills.craft
                reference="system.commonSkills.craft.value"
                checkbox-reference="system.commonSkills.craft.favoured.value"
                key="craft"}}
    </div>

    <div class="flexcol common-skill-column">
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.enhearten
                skillBonus=model.bonuses.commonSkills.enhearten
                reference="system.commonSkills.enhearten.value"
                checkbox-reference="system.commonSkills.enhearten.favoured.value"
                key="enhearten"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.travel
                skillBonus=model.bonuses.commonSkills.travel
                reference="system.commonSkills.travel.value"
                checkbox-reference="system.commonSkills.travel.favoured.value"
                key="travel"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.insight
                skillBonus=model.bonuses.commonSkills.insight
                reference="system.commonSkills.insight.value"
                checkbox-reference="system.commonSkills.insight.favoured.value"
                key="insight"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.healing
                skillBonus=model.bonuses.commonSkills.healing
                reference="system.commonSkills.healing.value"
                checkbox-reference="system.commonSkills.healing.favoured.value"
                key="healing"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.courtesy
                skillBonus=model.bonuses.commonSkills.courtesy
                reference="system.commonSkills.courtesy.value"
                checkbox-reference="system.commonSkills.courtesy.favoured.value"
                key="courtesy"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.battle
                skillBonus=model.bonuses.commonSkills.battle
                reference="system.commonSkills.battle.value"
                checkbox-reference="system.commonSkills.battle.favoured.value"
                key="battle"}}
    </div>

    <div class="flexcol common-skill-column">
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.persuade
                skillBonus=model.bonuses.commonSkills.persuade
                reference="system.commonSkills.persuade.value"
                checkbox-reference="system.commonSkills.persuade.favoured.value"
                key="persuade"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.stealth
                skillBonus=model.bonuses.commonSkills.stealth
                reference="system.commonSkills.stealth.value"
                checkbox-reference="system.commonSkills.stealth.favoured.value"
                key="stealth"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.scan
                skillBonus=model.bonuses.commonSkills.scan
                reference="system.commonSkills.scan.value"
                checkbox-reference="system.commonSkills.scan.favoured.value"
                key="scan"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.explore
                skillBonus=model.bonuses.commonSkills.explore
                reference="system.commonSkills.explore.value"
                checkbox-reference="system.commonSkills.explore.favoured.value"
                key="explore"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.riddle
                skillBonus=model.bonuses.commonSkills.riddle
                reference="system.commonSkills.riddle.value"
                checkbox-reference="system.commonSkills.riddle.favoured.value"
                key="riddle"}}
        {{> "systems/tor2e/templates/sheets/actors/components/skill-card.hbs"
                skill=model.commonSkills.lore
                skillBonus=model.bonuses.commonSkills.lore
                reference="system.commonSkills.lore.value"
                checkbox-reference="system.commonSkills.lore.favoured.value"
                key="lore"}}
    </div>

</div>
