<div class="flexrow">

    {{> "systems/tor2e/templates/sheets/actors/components/computed-main-stat-diamond-card.hbs"
            label= "tor2e.chat.taskCheck.options.tn"
            stat=tns.strength
            reference="model.attributes.strength.value"
            secondary-reference="system.attributes.strength.value"
            secondary-stat=model.attributes.strength}}

    {{> "systems/tor2e/templates/sheets/actors/components/computed-main-stat-diamond-card.hbs"
            label= "tor2e.chat.taskCheck.options.tn"
            stat=tns.heart
            reference="model.attributes.heart.value"
            secondary-reference="system.attributes.heart.value"
            secondary-stat=model.attributes.heart}}

    {{> "systems/tor2e/templates/sheets/actors/components/computed-main-stat-diamond-card.hbs"
            label= "tor2e.chat.taskCheck.options.tn"
            stat=tns.wits
            reference="model.attributes.wits.value"
            secondary-reference="system.attributes.wits.value"
            secondary-stat=model.attributes.wits}}

</div>
